{% extends "auctions/layout.html" %}

{% block body %}
{% for message in messages %}
{{ message }}
{% endfor %}
    <div>
      <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
          <div class='field_div'>
            <div class='label_div'>
              <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
            </div>
            {{ field }}
          </div>
        {% endfor %}
        <input class='action_button'type="submit" value="Add Listing">
      </form>
    </div>
{% endblock %}