{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{message}}</h2>
    <div class="index_wrapper">
    {% for listing in listings %}
    <div class="listing_container">
        <a href="{% url 'listing'  listing.id %}" style="height:fit-content">
            <h4 class="listing_title">{{listing}}</h4>
        </a>
        <hr>
        <img src="{{listing.photo}}"  alt="No image found!" style="width:28vw;height:180px;object-fit: contain;">
        <div class="listing_description">
            <p>Seller: {{listing.seller}} | Starting Price: {{listing.starting_price}}$
            <br>
            {% if not listing.current_bid.price  %}
            No bids were placed yet
            {% else %}
            Current Bid : {{listing.current_bid.price}}$
            {% endif %}
            <br>
            Category: {{listing.category}}
            <br>
            {{listing.describe}}</p>
        </div>
        
    </div>
    {% endfor %}
    </div>
{% endblock %}